<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <listeners>
  <listener class-name="com.test.automation.UiAutomation.custom.listner.Listner"></listener>
  </listeners>
  <test name="Testcases">
    <classes>
     <!--<class name="com.test.automation.UiAutomation.HomePage.TC0001_Verify_Login_With_Invalid_Credentials"/>  --> 
    <class name="com.test.automation.UiAutomation.ReadDataTest.TC0005_Register_Using_TestData_From_Excel"/> 
      </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
